.projects {
  background: linear-gradient(
    89.8deg,
    rgb(156, 223, 171) 0.3%,
    rgb(155, 219, 245, 1) 20.4%,
    rgb(245, 183, 208, 1) 40.2%,
    rgb(250, 186, 98, 1) 62.9%,
    rgb(234, 238, 240, 1) 81.9%,
    rgb(250, 245, 171, 1) 99.2%
  );
  height: 100vh;
}
.card {
  padding: 10px;
  margin: 40px;
  width: 350px;
  z-index: 1;
  border-width: 5px;
  border-color: rgba(250, 38, 66, 0.774);
  border-radius: 30px;
}
.card-img-top {
  padding: 10px;
  border-radius: 30px;
}
/* .card-body{

} */
.card-title {
  text-align: center;
}
/* .card-text{

} */
.btn {
  background-color: rgb(51, 255, 0);
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.btn:hover {
  background-color: rgba(9, 135, 194, 0.651);
}
h3 {
  text-align: center;
  height: 12px;
  font-style: italic;
  font-weight: 1000;
  padding-top: 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    padding: 10px;
    margin: 40px;
    width: 250px;
    z-index: 1;
    border-width: 5px;
    border-color: rgba(250, 38, 66, 0.774);
    border-radius: 30px;
    height: 400px;
  }
  .card-img-top {
    padding: 10px;
    border-radius: 30px;
  }
  .card-body {
    padding: 6px;
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    font-size: small;
  }
  .btn {
    background-color: rgb(51, 255, 0);
    color: black;
    font-size: 8px;
    margin: 0 5px 0 5px;
  }
  .btn:hover {
    background-color: rgba(9, 135, 194, 0.651);
  }
  h3 {
    text-align: center;
    height: 12px;
    font-style: italic;
    font-weight: 1000;
    padding-top: 40px;
  }
  .projects {
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .projects {
    height: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .projects {
    height: 100vh;
  }
}
