@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.about {
       background-color: #f8f8f8;
       padding: 50px;
       background-image: linear-gradient(rgba(255, 0, 0, 0.651), rgba(255, 255, 0, 0.699), rgba(0, 0, 255, 0.63));
      }
     
     .aboutcontainer {
       max-width: 800px;
       margin: auto;
       
     }
     
     .about p {
       font-size: 16px;
       line-height: 1.6;
       margin-bottom: 20px;
       text-indent: 70px;
       font-family: 'Pacifico', cursive;
       font-size: 30px;
       word-spacing: 10px;
       color: rgb(2, 2, 2);
     }
     
     .about p:last-child {
       margin-bottom: 0;
     }
     h3{
      text-align: center;
      padding: 10px 0 60px 0;
      font-weight: bolder;
      color: rgb(2, 2, 2);
      font-style: italic;

    }
     